@font-face {
    font-family: Heartwell italic;
	src:url(fonts/Heartwell%20Italic.woff);
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
	font-size:90%;
	height:100%;
}
body{
	padding:0;
	margin:0;
	border: 0;
	height:100%;
	font: normal 1em 'museo rounded', Arial, sans-serif;
	font-weight:300;
	background-color: #39849b;
	color: #ffffff;
	font-family: normal 1em 'Open Sans', Arial, sans-serif;
	background-image:url(img/bw01.jpg);		
	background-image:url(img/bw02.jpg);
	background-image:url(img/bw03.jpg);
	background:url(img/bw01.jpg) no-repeat top right fixed;
	background-size:cover !important;			    
	-webkit-transition-property:background-image;
	-moz-transition-property:background-image;
	-o-transition-property:background-image;
	transition-property:background-image;
	-webkit-transition-duration:.5s;
	-moz-transition-duration:.5s;
	-o-transition-duration:.5s;
	transition-duration:.5s;
	-webkit-transition-timing-function:ease-out;
	-moz-transition-timing-function:ease-out;
	-o-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
}
div {
    display: block;
}
a{color:#ffffff;text-decoration:underline;}
a:hover{color:#e1f3f7;text-decoration:underline;}
h1{
	font-size:2.3em; 
	font-family:Heartwell italic, Georgia, serif;
	font-style:italic;
	letter-spacing: 0.0625em;
	color:rgba(247, 162, 72, 1);
	line-height:1em;
	padding-bottom:4%;
	padding-left:2%;
}
p {margin:3% 2%; padding: 0 4%;}
.container{
	margin-right:auto;
	margin-left:auto;
	height:100%;
}
.container:before,.container:after,.row:before,.row:after{content:" ";display:table;}
.container:after,.row:after{clear:both;}
@-ms-viewport{width:device-width;}
.content{overflow:visible;height:100%;margin:0;padding:0;clear: both;}
.row {
	width: 100%;
	padding: 20px 10px; 
	text-align:center; 
	background-color:hsla(194, 46%, 42%, 0.75);
	min-height:100%;
}
.logo {
	display:inline; 
	width:250px; 
	margin-bottom: 5%;
}
.cta {width: 100%;}
.cta p{ 
	width:200px; 
	max-width:200px;
	background-color:#f8a349; 
	padding:10px 5px; 
	text-align:center;
	border-radius: 5px;
	font-weight:bold;
	letter-spacing:1px;
	margin: 40px auto;
}
.cta a:link{
	text-decoration: none;
}

@media(min-width:992px){
	h1 {font-size:3em;}
}
@media(min-width:1200px){
	h1 {font-size:3em;}
}	
@media(min-width:767px){
	body{
		background:url(img/bw01.jpg) no-repeat top right fixed;
		border-color:#39849b;
	}
	.row{ width:33.334%;}
}
@media(min-width:650px){
	.row{ width:40%;}
}