@font-face {
    font-family: Heartwell italic;
	src:url(fonts/Heartwell%20Italic.woff);
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
	font-size:90%;
}
body{
	font: normal 1em 'museo rounded', Arial, sans-serif;
	font-weight:300;
	background-color: #39849b;
	color: #ffffff;
	}
a{color:#ffffff;text-decoration:underline;}
a:hover{color:#e1f3f7;text-decoration:underline;}
h1{
	font-size:3.5em; 
	font-family:Heartwell italic, Georgia, serif;
	font-style:italic; 
	text-align:center;
	line-height:1em;
	color:hsla(360, 100%, 100%, 1);
}
.container{
	margin-right:auto;
	margin-left:auto;
}


@media(min-width:1200px){
	.container{width:1170px;}
}

.container:before,.container:after,.row:before,.row:after{content:" ";display:table;}
.container:after,.row:after{clear:both;}
@-ms-viewport{width:device-width;}
.container{
	margin-right:auto;
	margin-left:auto;
	max-width:960px;
}
.row {padding-top:2%;}
html{height:100%;}
body{
	padding:0;
	margin:0;
	border: 0;
	height:100%;
	background-color: #39849b;
	color: #ffffff;
	font: normal 1em 'Open Sans', Arial, sans-serif;
	background-image:url(img/GroupKids01.jpg);		
	background-image:url(img/GroupKids02.jpg);
	background-image:url(img/GroupKids03.jpg);
	background:url(img/GroupKids01.jpg) no-repeat top right fixed;
	background-size:cover !important;			    -webkit-transition-property:background-image;
	-moz-transition-property:background-image;
	-o-transition-property:background-image;
	transition-property:background-image;
	-webkit-transition-duration:.5s;
	-moz-transition-duration:.5s;
	-o-transition-duration:.5s;
	transition-duration:.5s;
	-webkit-transition-timing-function:ease-out;
	-moz-transition-timing-function:ease-out;
	-o-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
	min-height:100%;
	}
@media(min-width:767px){
	body{
		background:url(img/GroupKids01.jpg) no-repeat top right fixed;
		border-color:#39849b;
	}
}
.column-logo{
	float:left;
	position:absolute;
	height:100px;
	/*padding: 2% 2%;*/
	margin-top:50px;
	/*margin-left:-10px;*/
	width:210px;
}
.logo {display:inline; width:150px;}
.logo::after{display:inline;content:',';}
@media(min-width:768px){
	.column-slogan{float:left;width:90%;}
}
@media(min-width:992px){
	.column-slogan{float:left;width:90%;}
}
@media(min-width:1200px){
	.column-slogan{float:left;width:90%;}
}

.slogan-pad{padding-left:10%;}

@media screen and (max-device-width:480px) and (orientation:landscape){
	#logo{background-position:left 35%;}
}
.fixed-footer{
	overflow:visible;
	-webkit-transition-property:color;	
	-moz-transition-property:color;
	-o-transition-property:color;
	transition-property:color;
	-webkit-transition-duration:2s;
	-moz-transition-duration:2s;
	-o-transition-duration:2s;
	transition-duration:2s;
	height:220px;
	margin-top:-220px;
	background-color:#39849b;
	filter:alpha(opacity=80);
	-webkit-opacity:.8;
	-moz-opacity:.8;
	opacity:.8;
}
@media only screen and (max-width: 768px) {
	.fixed-footer{
	 height:280px;
	 margin-top:-280px;	
	}
}
.fixed-footer a{
	-webkit-transition-property:color;-moz-transition-property:color;
	-o-transition-property:color;
	transition-property:color;
	-webkit-transition-duration:2s;-moz-transition-duration:2s;
	-o-transition-duration:2s;
	transition-duration:2s;
	text-decoration:none;
}
.fixed-footer a:hover{
	-webkit-transition-property:color;-moz-transition-property:color;
	-o-transition-property:color;
	transition-property:color;
	-webkit-transition-duration:2s;-moz-transition-duration:2s;
	-o-transition-duration:2s;
	transition-duration:2s;
	text-decoration:underline;
}

.footer-copy{
	padding-top:10px;
	position:relative;
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
}

@media(min-width:768px){
	.footer-copy{float:left;width:65%;}
}
.footer-slogan{
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	height: auto;
	font-size:12px;
	position:relative;
	min-height:20px;
}
@media(min-width:768px){
	.footer-slogan{
		float:left;
		width:35%;
	}
}
.content{overflow:hidden;height:100%;margin:0;padding:0;}